@import "./variables.scss";


.shadow {
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.snipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

//Lealfet - Has to be here to work
.leaflet-city {
  stroke: $wemanity_red !important;
  fill  : $wemanity_red !important;
}
.leaflet-control-attribution.leaflet-control {
  display: none !important;   // To remove the credits
}
