@import "./variables.scss";


.shadow {
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.snipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}
