//Colors
$wemanity_black      : #111111;
$wemanity_black-light: #282C34;
$wemanity_blue       : #6494ED;
$wemanity_red        : #862633;
$wemanity_grey       : #E6ECF1;
$wemanity_white-dark : #F5F5F5;
$wemanity_white      : #FFFFFF;
