//Colors
$wemanity_black      : #111111;
$wemanity_black-light: #282C34;
$wemanity_blue       : #6494ED;
$wemanity_red        : #862633;
$wemanity_grey       : #E6ECF1;
$wemanity_white-dark : #F5F5F5;
$wemanity_white      : #FFFFFF;

$graph1: #6494ED;
$graph2: #862633;
$graph3: #F2A900;
$graph4: #8470C0;
$graph5: #BC7AB6;

//Sass
$width-phone-max: 420px;   // Width of the biggest phones

$page-padding: 15px;

$section-padding     : 10px;
$section-title-height: 35px;

     // Big screens
$breakpoint-two-sections: 2*$width-phone-max + 3*$page-padding;
     // Tablets in portrait mode
$breakpoint-one-sections: 1*$width-phone-max + 0*$page-padding;
     // Under the width of the biggest phones
