<div id="app-component" class="wemanity_page" [class.dark]='displayTheme()' [class.light]='!displayTheme()'>
  <!-- Trips -->
  <div class="wemanity_page-section">
    <trips-component></trips-component>
  </div>

  <!-- Experiences -->
  <div class="wemanity_page-section">
    <experiences-component></experiences-component>
  </div>

  <!-- Skills -->
  <div class="wemanity_page-section">
    <skills-component></skills-component>
  </div>

  <!-- Settings -->
  <div class="wemanity_page-section">
    <settings-component></settings-component>
  </div>
</div>
